
body{
   color:#302e7b;
   background-color: #06ffd1d4;
}
a{
   color:#0e9e26;    
   background-color: #06ffd1d4;
}
h1{
   text-align: center;
   color:black;   
   background-color: #06ffd1d4;
}
h2{

   color:black;   
   background-color: #06ffd1d4;

}
h3{

   color:black;   
   background-color: #06ffd1d4;

}
h4{

   color:black;   
   background-color: #06ffd1d4;

}
p{
   color:#edca6b;
   background-color: #06ffd1d4;
}